# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Ignore .env file with api keys and specific Files
.env
*.json
ABPL-code/programming_language/parsetab.py
ABPL-code/programming_language/parser.out
chat_history.txt
*.github
*.vscode